.icon-gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  li {
    margin: 15px;
    width: 200px;
  }
  .icon-wrapper {
    font-size: 50px;
  }
  .desc {
    font-size: 12px;
  }
}

.icon-gallery-seach {
  display: flex;
  justify-content: center;
  .ant-input-search {
    input {
      width: 900px;
      height: 30px;
    }
  }
  .ant-input-group-addon {
    button {
      width: 50px;
      height: 36px;
      font-size: 18px;
    }
  }
}
